<!DOCTYPE html>

<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Basic need -->
    <title>电影可视化推荐系统</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="profile" href="" />
    <!--Google Font-->
    <link rel="stylesheet" href="/assets/css/css.css" />
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone-no" />
    <!-- CSS files -->
    <link rel="stylesheet" href="/assets/css/plugins.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link href="//unpkg.com/layui@2.9.3/dist/css/layui.css" rel="stylesheet">

  </head>
  <body>
    <!--preloading-->
    <div id="preloader">
      <img
        class="logo"
        src="/assets/picture/logo1.png"
        alt=""
        width="119"
        height="58"
      />
      <div id="status"><span></span><span></span></div>
    </div>
    <div th:replace="~{movie/common::login-content}"></div>
    <!--end of login form popup--><!--signup form popup-->
    <div th:replace="~{movie/common::signup-content}"></div>
    <!--end of signup form popup--><!-- BEGIN | Header -->
    <div th:replace="~{movie/common::common_header}"></div>

    <!-- END | Header -->
    <div class="hero user-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="hero-ct">
              <h1>个人简历</h1>
<!--              <ul class="breadcumb">-->
<!--                <li class="active"><a href="#">Home</a></li>-->
<!--                <li><span class="ion-ios-arrow-right"></span>Profile</li>-->
<!--              </ul>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-single">
      <div class="container">
        <div class="row ipad-width">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div th:replace="~{movie/common::user-sidbar}"></div>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
            <div class="form-style-1 user-pro" action="">
              <form action="" class="user">
                <h4>修改用户信息</h4>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label>用户名</label
                    ><input type="text" placeholder="" />
                  </div>
                  <div class="col-md-6 form-it">
                    <label>邮箱</label
                    ><input type="text" placeholder="" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <input class="submit" type="submit" value="保存" />
                  </div>
                </div>
              </form>
              <input class="submit" type="button" id="logout" value="退出登录" style="width: 13%" />

              <form action="" class="password">
                <h4>修改密码</h4>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label>旧密码</label
                    ><input type="text" placeholder="**********" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label>新密码</label
                    ><input type="text" placeholder="***************" />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 form-it">
                    <label>确认新密码</label
                    ><input type="text" placeholder="*************** " />
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-2">
                    <input class="submit" type="submit" value="确认" />
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- footer section-->
    <!-- end of footer section-->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/plugins2.js"></script>
    <script src="/assets/js/custom.js"></script>
    <script src="//unpkg.com/layui@2.9.3/dist/layui.js"></script>

    <script>
    $(document).ready(function(){
      // 绑定点击事件到退出按钮
      $('#logout').click(function(){
        // 向后端发起 AJAX 请求
        $.ajax({
          type: 'get',
          url: '/logout', // 替换成你的退出登录后台处理地址
          success: function(response){
            // 处理成功响应
            console.log(response);
            layui.use(function () {
              var layer = layui.layer;
              layer.alert("登录成功")
            })
            window.location.href = '/index'; // 替换成你的 index 页面地址
            // 重定向到 index 页面
          },
          error: function(xhr, status, error){
            // 处理错误响应
            console.error(xhr.responseText);
            // 你可以在这里向用户显示错误消息
          }
        });
      });
    });
  </script>
  </body>
</html>
