<!DOCTYPE html>
<!--[if IE 7]><html class="ie ie7 no-js" lang="en-US"><!
[endif]--><!--[if IE 8]><html class="ie ie8 no-js" lang="en-US"><!
[endif]--><!--[if !(IE 7) | !(IE 8)]><!-->
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.org">
  <head>
    <!-- Basic need -->
    <title>电影可视化推荐系统</title>
    <meta charset="UTF-8" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="author" content="" />
    <link rel="profile" href="" />
    <!--Google Font-->
    <link rel="stylesheet" href="/assets/css/css.css" />
    <!-- Mobile specific meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="format-detection" content="telephone-no" />
    <!-- CSS files -->
    <link rel="stylesheet" href="/assets/css/plugins.css" />
    <link rel="stylesheet" href="/assets/css/style.css" />
  </head>
  <body>
    <!--preloading-->
    <div id="preloader">
      <img
        class="logo"
        src="/assets/picture/logo1.png"
        alt=""
        width="119"
        height="58"
      />
      <div id="status"><span></span><span></span></div>
    </div>
    <div th:replace="~{movie/common::login-content}"></div>
    <!--end of login form popup--><!--signup form popup-->
    <div th:replace="~{movie/common::signup-content}"></div>

    <div th:replace="~{movie/common::common_header}"></div>

    <!-- END | Header -->
    <div class="hero user-hero">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="hero-ct">
              <h1>我的评论</h1>
<!--              <ul class="breadcumb">-->
<!--                <li class="active"><a href="#">Home</a></li>-->
<!--                <li><span class="ion-ios-arrow-right"></span>Rated movies</li>-->
<!--              </ul>-->
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="page-single">
      <div class="container">
        <div class="row ipad-width2">
          <div class="col-md-3 col-sm-12 col-xs-12">
            <div th:replace="~{movie/common::user-sidbar}"></div>
          </div>
          <div class="col-md-9 col-sm-12 col-xs-12">
<!--            <div class="topbar-filter">-->
<!--              <p>Found <span>3 rates</span>in total</p>-->
<!--              <label>Sort by:</label-->
<!--              ><select>-->
<!--                <option value="range">&#45;&#45; Choose option &#45;&#45;</option>-->
<!--                <option value="saab">&#45;&#45; Choose option 2&#45;&#45;</option>-->
<!--              </select>-->
<!--            </div>-->
            <div class="movie-item-style-2 userrate" th:each="com,index:${comments}">
              <img src="/assets/picture/mv1.jpg" alt=""  th:src="${movies[index.index].getImg()}" />
              <div class="mv-item-infor">
                <h6>
                  <a href="#">[[${movies[index.index].getName()}]] </a>
                </h6>
                <p class="time sm-text">your rate:</p>
                <p class="rate">
                  <i class="ion-android-star"></i><span>[[${com.getScore()}]]</span>/10
                </p>
                <p class="time sm-text">your reviews:</p>
                <p class="time sm">    [[${#dates.format(movies[index.index].getCreateTime(),'yyyy-MM-dd')}]]
                </p>
                <p>
                  [[${com.getComment()}]]
                </p>
              </div>
            </div>

<!--            <div class="topbar-filter">-->
<!--              <label>Movies per page:</label-->
<!--              ><select>-->
<!--                <option value="range">20 Movies</option>-->
<!--                <option value="saab">10 Movies</option>-->
<!--              </select>-->
<!--              <div class="pagination2">-->
<!--                <span>Page 1 of 1:</span><a class="active" href="#">1</a-->
<!--                ><a href="#"><i class="ion-arrow-right-b"></i></a>-->
<!--              </div>-->
<!--            </div>-->
          </div>
        </div>
      </div>
    </div>
    <!-- footer section-->
    <div style="background-color: #020d18;height: 100%"></div>

    <!-- end of footer section-->
    <script src="/assets/js/jquery.js"></script>
    <script src="/assets/js/plugins.js"></script>
    <script src="/assets/js/plugins2.js"></script>
    <script src="/assets/js/custom.js"></script>
  </body>
</html>
