<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.CollectMapper">
    
    <resultMap type="Collect" id="CollectResult">
        <result property="id"    column="id"    />
        <result property="movieId"    column="movie_id"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
    </resultMap>

    <sql id="selectCollectVo">
        select id, movie_id, user_id, create_time from collect
    </sql>

    <select id="selectCollectList" parameterType="Collect" resultMap="CollectResult">
        <include refid="selectCollectVo"/>
        <where>  
            <if test="id != null "> and id = #{id}</if>
            <if test="movieId != null "> and movie_id = #{movieId}</if>
            <if test="userId != null "> and user_id = #{userId}</if>
        </where>
    </select>
    
    <select id="selectCollectById" parameterType="Long" resultMap="CollectResult">
        <include refid="selectCollectVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertCollect" parameterType="Collect">
        insert into collect
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="movieId != null">movie_id,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="movieId != null">#{movieId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
         </trim>
    </insert>

    <update id="updateCollect" parameterType="Collect">
        update collect
        <trim prefix="SET" suffixOverrides=",">
            <if test="movieId != null">movie_id = #{movieId},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteCollectById" parameterType="Long">
        delete from collect where id = #{id}
    </delete>

    <delete id="deleteCollectByIds" parameterType="String">
        delete from collect where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>