<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.MovieUserMapper">
    
    <resultMap type="MovieUser" id="MovieUserResult">
        <result property="id"    column="id"    />
        <result property="username"    column="username"    />
        <result property="password"    column="password"    />
        <result property="email"    column="email"    />
        <result property="createTime"    column="create_time"    />
        <result property="img"    column="img"    />
    </resultMap>

    <sql id="selectMovieUserVo">
        select id, username, password, email, create_time, img from user
    </sql>

    <select id="selectMovieUserList" parameterType="MovieUser" resultMap="MovieUserResult">
        <include refid="selectMovieUserVo"/>
        <where>  
            <if test="username != null  and username != ''"> and username like concat('%', #{username}, '%')</if>
            <if test="email != null  and email != ''"> and email = #{email}</if>
            <if test="createTime != null "> and create_time = #{createTime}</if>
        </where>
    </select>
    
    <select id="selectMovieUserById" parameterType="Long" resultMap="MovieUserResult">
        <include refid="selectMovieUserVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertMovieUser" parameterType="MovieUser" useGeneratedKeys="true" keyProperty="id">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="username != null">username,</if>
            <if test="password != null">password,</if>
            <if test="email != null">email,</if>
            <if test="createTime != null">create_time,</if>
            <if test="img != null">img,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="username != null">#{username},</if>
            <if test="password != null">#{password},</if>
            <if test="email != null">#{email},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="img != null">#{img},</if>
         </trim>
    </insert>

    <update id="updateMovieUser" parameterType="MovieUser">
        update user
        <trim prefix="SET" suffixOverrides=",">
            <if test="username != null">username = #{username},</if>
            <if test="password != null">password = #{password},</if>
            <if test="email != null">email = #{email},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="img != null">img = #{img},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteMovieUserById" parameterType="Long">
        delete from user where id = #{id}
    </delete>

    <delete id="deleteMovieUserByIds" parameterType="String">
        delete from user where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>

</mapper>